
<!DOCTYPE html>
<html >
<head>
    <title>Aravinda Sametha Veera Raghava</title>
</head>
<body>
    <center>
    <h1>Aravinda Sametha Veera Raghava</h1>
    <p>Welcome to the Aravinda Sametha Veera Raghava album page!</p>
    <img src="../assets/images/Aravinda Sametha Veera Raghava photo.jpg" target="_blank" width="200px" height="200px">
    <p><b>Movie:</b> Aravinda Sametha Veera Raghava</p>
    <p><b>Release Year:</b> 2018</p>
    <p><b>Genre:</b>Romantic/Action</p>
    <p><b>Director:</b> Trivikram srinivas</p>
    <h3>Songs</h3>
    
        <h4>1.peniviti</h4>
        <video controls width="320px" height="240px" >
            <source src="../assets/videos/Peniviti full video song.mp4">        
        </video><br><br>
        <audio controls>
            <source src="../assets/audios/Peniviti.mp3">
        </audio>
        <h4>2.Anaganaganaga</h4>
        <video controls width="320px" height="240px" >
            <source src="../assets/videos/Anaganaganaga full video song.mp4">
        </video><br><br>  
        <audio controls>
            <source src="../assets/audios/Anaganaganaga.mp3">     
        </audio>
        </center>
</body>
</html>

