
<!DOCTYPE html>
<html>
<head>
    <title>Devara</title>
</head>
<body>
    <center>
    <h1>Devara</h1>
    <p>Welcome to the Devara album page!</p>
    <img src="../assets/images/devara photo.jpg" target="_blank" width="200px" height="200px">
    <p><b>Movie:</b> Devara</p>
    <p><b>Release Year:</b> 2024</p>
    <p><b>Genre:</b>Romantic/Action</p>
    <p><b>Director:</b> Koratala Shiva</p>
    <h3>Songs</h3>
    
        <h4>1.Fear</h4>
        <video controls width="320px" height="240px" >
            <source src="../assets/videos/Fear full video song.mp4">
        </video><br><br>
        <audio controls>
            <source src="../assets/audios/Fear.mp3">
        </audio>
        <h4>2. chuttamalle</h4>
        <video controls width="320px" height="240px" >
            <source src="../assets/videos/Chuttamalle full video song.mp4">
        </video><br><br>
        <audio controls>
            <source src="../assets/audios/Chuttamalle.mp3">     
        </audio>
        </center>
</body>
</html>