<!DOCTYPE html>
<html>
<head>
    <title>Nannaku prematho</title>
</head>
<body>
    <center>
    <h1>Nannaku prematho</h1>
    <p>Welcome to the Nannaku prematho album page!</p>
    <img src="../assets/images/Nannaku prematho photo.jpg" target="_blank" width="200px" height="200px">
    <p><b>Movie:</b> Nannaku prematho</p>
    <p><b>Release Year:</b> 2015</p>
    <p><b>Genre:</b> Romantic/Drama</p>
    <p><b>Director:</b> Sukumar </p>
    <h3>Songs</h3>
        <h4> Nannaku</h4>
        <video controls width="320px" height="240px" >
            <source src="../assets/videos/Nannaku Prematho Full Video Song.mp4">
        </video><br><br>
        <audio controls>
            <source src="../assets/audios/Nannaku Mp3.Co.mp3">     
        </audio>
        </center>
</body>
</html>

